@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");


:root {

    --header-height: 3.5rem;

    --first-color: #fc4c04;
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(0, 0%, 99%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);

    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-bold: 700;

    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;

}


@media screen and (min-width: 968px) {

    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


::-webkit-scrollbar {
    width: .6rem;
    background: hsl(0, 0%, 74%);
}


::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 17%);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    scroll-behavior: smooth;
}


body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}


body {
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s;
}


h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}


ul {
    list-style: none;
}


a {
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
}


button {
    cursor: pointer;
    border: none;
    outline: none;
}


body.dark-theme {
    --first-color: hsl(31, 76%, 74%);
    --button-color: hsl(0, 0%, 24%);
    --button-color-alt: hsl(0, 0%, 28%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(0, 0%, 12%);
    --container-color: hsl(0, 0%, 16%);
    --border-color: hsl(0, 0%, 20%);
}


.change-theme {
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
}


.dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__shop,
.dark-theme .button--gray {
    color: hsl(0, 0%, 15%);
}


.dark-theme .scroll-header {
    box-shadow: 0 1px 4px hsla(0, 0%, 4%, .3);
}


.scroll-header .change-theme,
.scroll-header .nav__toggle,
.scroll-header .nav__shop {
    color: var(--title-color);
}


.dark-theme::-webkit-scrollbar {
    background: hsl(0, 0%, 30%);
}


.container {
    max-width: 1024px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}


.main {
    overflow: hidden;
}


.section {
    padding: 6.5rem 0 1rem;
}


.section__title {
    position: relative;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-3);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}


.section__title::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 67px;
    height: 1px;
    background-color: var(--first-color);
}


.header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s;
}


.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav__logo,
.nav__toggle,
.nav__publications,
.nav__login,
.nav__close {
    color: var(--title-color);
}


.nav__logo {
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}


.nav__logo img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}


.nav__logo-icon {
    font-size: 1.25rem;
}


.nav__btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}


.nav__toggle,
.nav__publications,
.nav__login,
.change-theme {
    font-size: 1.5rem;
    cursor: pointer;
}


@media screen and (max-width: 767px) {

    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .3s;
    }

    p.ocult,
    span.ocult {
        display: none;
    }

}


.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    transition: .3s;
}


.nav__link:hover {
    color: var(--first-color);
}


.nav__close {
    font-size: 2rem;
    position: absolute;
    top: .9rem;
    right: 1.25rem;
    cursor: pointer;
}


.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    display: inline-flex;
    padding: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}


.scrollup:hover {
    opacity: 1;
}


.scrollup__icon {
    font-size: 1.5rem;
    color: var(--first-color);
}


.show-scroll {
    bottom: 3rem;
}


.show-menu {
    right: 0;
}


.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .10);
}


.active-link {
    color: var(--first-color);
}


.publications {
    position: fixed;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: .4s;
}


.publication__title-center {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: var(--mb-3);
}


.publication__close {
    font-size: 2rem;
    color: var(--title-color);
    position: absolute;
    top: 1.25rem;
    right: .9rem;
    cursor: pointer;
}


.pulications__scroll {
    height: 88%;
    overflow-y: auto;
}


.publication__container {
    display: grid;
    row-gap: 1.5rem;
}


.publication__card {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}


.publication__box {
    background-color: var(--container-color);
    margin-right: .8rem;
    border: 1px solid var(--border-color);
}


.publication__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}


.publication__title {
    font-size: var(--normal-font-size);
    margin-bottom: .5rem;
}


.publication__price {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1-5);
}


.publication__amount,
.publication__amount-content {
    display: flex;
    align-items: center;
}


.publication__amount {
    column-gap: 1rem;
}


.publication__amount-content {
    column-gap: 1rem;
}


.publication__amount-box {
    display: inline-flex;
    padding: .25rem;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
}


.publication__amount-trash {
    font-size: 1.15rem;
    color: var(--first-color);
    cursor: pointer;
}


.publication__prices {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}


.publication__prices-item,
.publication__prices-total {
    color: var(--title-color);
}


.publication__prices-item {
    font-size: var(--small-font-size);
}


.publication__prices-total {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}


.show-publications {
    right: 0;
}


.home__container {
    position: relative;
    row-gap: 2.5rem;
}


.home__img {
    width: 240px;
}


.home__img-bg {
    background-color: var(--first-color);
    width: 258px;
    height: 430px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5rem);
}


.home__social {
    position: absolute;
    top: 35%;
    left: -5rem;
    transform: rotate(-90deg);
    display: flex;
    column-gap: 1rem;
}


.home__social-link {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: .3s;
}


.home__social-link:hover {
    color: var(--title-color);
}


.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1);
}


.home__description {
    margin-bottom: var(--mb-1-5);
}


.home__price {
    display: inline-block;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}


.home__btns {
    display: flex;
    align-items: center;
}


.home__button {
    box-shadow: 0 12px 24px hsla(0, 0%, 10%, .2);
}


.section__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
}


.filter select {
    font-size: var( --normal-font-size );
    width: auto;
    padding: .5rem;
    margin-left: .3rem;
    border: solid 2px black;
}


.altercados {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    transition: 1s;
}


.altercados .altercado {
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    transition: 1s;
}

.altercados .altercado p, span {
    font-size: .85rem;
    margin-bottom: .2rem;
}


.altercados .altercado small {
    color: #fc4c04;
    font-size: .85rem;
}


.altercado img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    transition: 1s;
}


.altercado__content {
    width: 100%;
    margin-left: 2rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    transition: 1s;
}


.altercado button {
    width: 130px;
}


.altercado__content .date {
    color: var( --first-color );
    display: block;
    transition: 1s;
}


.section__lineas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.section__linea {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    padding: 2rem;
    background: var( --container-color );
    border: 2px solid var( --border-color );
}


.section__linea img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}


.section__linea h5 {
    margin: .5rem 0 .5rem 0;
}


.section__linea a {
    text-align: center;
    margin-bottom: .2rem;
    padding: .5rem;
    width: 100%;
    background: var( --button-color-alt );
    color: var( --text-color-light );
    font-size: .8rem;
    font-weight: var( --font-bold );
}


.linea__estadisticas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}


.linea__estadisticas h3 {
    margin-bottom: 2rem;
}


.linea__estadisticas hr {
    margin: 2rem 0;
}


.linea__estadisticas span {
    display: block;
}


.linea__estadisticas img {
    width: 25rem;
    height: 25rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}


.minDate {
    margin-left: 1rem;
    font-size: .6rem;
}


.section__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


.section__form img {
    width: 20rem;
    height: 20rem;
    margin: 3rem 0 3rem 0;
    margin-right: 5rem;
    object-fit: cover;
}


.section__form .form .input {
    width: 100%;
    margin-bottom: 1rem;
    font-size: .8rem;
    padding: .8rem;
}


.usuarios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.usuario {
    background: var( --container-color );
    border: 1px solid var( --border-color );
    padding: 2rem;
    width: 18rem;
    margin-bottom: 2rem;
}


.usuario h5 {
    margin-bottom: .3rem;
}


.button {
    display: inline-block;
    background-color: var(--button-color);
    color: #FFF;
    padding: 1.25rem 2rem;
    font-weight: var(--font-medium);
    transition: .3s;
}


.link {
    color:  var( --text-color );
    text-decoration: underline 2px solid;
}

.button:hover {
    background-color: var(--button-color-alt);
}


#putUsuBtn {
    cursor: pointer;
}


button.reportar-btn {
    padding: .3rem 1rem;
    background: var( --first-color );
    color: #fff;
    font-size: .8rem;
    cursor: pointer;
}


.button--gray {
    background-color: hsl(0, 0%, 75%);
    color: var(--title-color);
}


.button--gray:hover {
    background-color: hsl(0, 0%, 63%);
}


.button--small {
    padding: 1rem 1.5rem;
}


.button.mt {
    margin-top: 1.5rem;
}


.alerts {
    position: fixed;
    bottom: 3rem;
    right: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.alerts-success {
    background: #7ebd3f;
}


.alerts-danger {
    background: #ca644f;
}


.alerts span {
    padding: .8rem 0 .8rem 3rem;
    color: var( --container-color );
    font-size: 12px;
    margin-right: 1rem;
}


.alerts i {
    color: var( --container-color );
    font-size: 1.2rem;
    padding-right: 3rem;
}


.soporte {
    display: flex;
    width: 100%;
    height: 75vh;
}


.chat {
    padding: 0 0 2rem 2rem;
    height: 100%;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}


.mensajes {
    overflow-y: scroll;
    width: 90%;
    overflow-x: hidden;
}


.chat .msg {
    margin-top: 1.3rem;
    margin-right: 2rem;
}


.chat .msg p {
    font-size: .6rem;
}


.chat .msg span {
    font-size: .85rem;
    color: #1e1e1e;
    font-weight: 500;
    margin: 0;
}


.status-client {
    color: #7ebd3f;
    font-weight: 500;
    font-size: .8rem;
}


.chat .entradaTexto {
    width: 100%;
    margin-top: 1.5rem;
    margin-right: 2rem;
}


.chat .entradaTexto .accionesTxt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}


.chat .entradaTexto .accionesTxt input {
    width: 80%;
    height: 2rem;
    font-family: var(--body-font);
    padding-left: 1rem;
    font-size: .8rem;
    margin-left: 3rem;
}

.chat .entradaTexto .accionesTxt button {
    width: 10%;
    background: #fc4c04;
    color: #fff;
    font-size: .8rem;
}


.chat .entradaTexto .nota {
    font-size: .6rem;
    padding-left: 3rem;
}


.admins {
    width: 35%;
    overflow-y: scroll;
}


.admins h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    margin-right: 1rem;
}


.admins .admin {
    padding: 1rem;
    margin-top: .3rem;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    width: 95%;
}


.admins .admin h3 {
    font-size: 1rem;
};


@media screen and (min-width: 576px) {

    .home__img-bg {
        width: 340px;
    }

    .featured__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (min-width: 767px) {

    .section {
        padding: 8rem 0 1rem;
    }

    .publications {
        width: 420px;
        box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        justify-content: initial;
        column-gap: 3rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
    }

    .nav__link {
        text-transform: initial;
        font-size: var(--normal-font-size);
    }

    .nav__btns {
        margin-left: auto;
    }

    .home__container {
        padding-top: 6rem;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }

    .home__img-bg {
        order: 1;
        transform: translate(1.5rem, -6rem);
    }

    .home__data {
        padding: 0 0 3rem 6rem;
    }

    .home__social {
        top: 47%;
        column-gap: 2rem;
    }

    .featured__title,
    .featured__price,
    .new__title,
    .new__price {
        font-size: var(--normal-font-size);
    }

    .story__container,
    .testimonial__container,
    .newsletter__bg {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .story__section-title {
        text-align: initial;
    }

    .story__section-title::before {
        margin: initial;
    }

    .story__images {
        order: -1;
    }

    .products__container {
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        gap: 2.5rem;
    }

    .products__card {
        padding: 2rem 0;
    }

    .products__img {
        height: 155px;
    }

    .newsletter__bg {
        text-align: initial;
        column-gap: 2rem;
        padding: 4.5rem;
    }

    .newsletter__subscribe {
        flex-direction: row;
    }

    .newsletter__input {
        width: 100%;
    }

    .footer__container {
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
    }

    .footer__title {
        font-size: var(--h3-font-size);
    }

}


@media screen and (min-width: 992px) {

    .section__title {
        font-size: var(--h2-font-size);
    }

    .home__container {
        column-gap: 2rem;
    }

    .home__img-bg {
        width: 480px;
        height: 680px;
    }

    .home__img {
        width: 420px;
    }

    .home__social {
        left: -6rem;
    }

    .home__data {
        padding: 0 0 8rem 6rem;
    }

    .featured__container {
        grid-template-columns: repeat(3, 312px);
        padding-top: 2rem;
    }

    .story__container,
    .testimonial__container {
        column-gap: 8rem;
    }

    .story__square,
    .story__img,
    .testimonial__square,
    .testimonial__img {
        width: 450px;
    }

    .story__square,
    .testimonial__square {
        height: 450px;
    }

    .products__container,
    .new__container {
        padding-top: 2rem;
    }

    .testimonial__container {
        padding-bottom: 4rem;
    }

}


@media screen and (min-width: 1024px) {

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .story__container,
    .testimonial__container {
        column-gap: 13rem;
    }

    .story__container {
        padding-top: 3rem;
    }

    .story__img {
        left: 5rem;
        top: -5rem;
    }

    .testimonial__img {
        right: 5rem;
        top: 5rem;
    }

    .scrollup {
        right: 3rem;
    }

}